body{
  margin: 0;
}

.scene{
  position: relative;
  width: 100%;
  background: #1f003b;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.a_object{
  position: absolute;
}
.shown{
  display: flex;
}
/* Область нажатия на стенде */
.stand_trigger:hover{
  cursor: pointer;
}
.stand_trigger{
  /* border: #d0ae50 1px solid; */
  display: block;
  z-index: 100;
}
.stand_trigger>div{
  position: relative;
}
/* Контейнер изображения */
.object_container>img{
  width: 100%;
}
/* Триггеры для анимации по скроллу */
.trigger{
  width: 100px;
  /*border: 1px solid black;*/
}
.smog{
  position: relative;
  height: 395px;
  width: 100%;
  background: url(https://static.tildacdn.com/tild6666-6462-4732-b865-613230363761/smog.png) repeat-x;
  margin-top: -250px;
}
/* Квадрокоптер */
.svg_path{
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.drone:hover{
  cursor: pointer;
}
/* Квадрокоптер */

/* Автобус */
.bus_title, .bus_title2, .bus_title3{
  opacity: 0;
  position: absolute;
  top: -50px;
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: rgb(206,216,244);
  background: linear-gradient(0deg, rgba(206,216,244,1) 0%, rgba(255,255,255,1) 100%);
}
.bus_title span, .bus_title2 span, .bus_title3 span{
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
  text-align: center;
}
/* Автобус */

/* Hint */
.bubble{
  width: 120px;
  height: 100px;
  padding: 14px 12px;
  background: rgb(206,216,244);
  background: linear-gradient(0deg, rgba(206,216,244,1) 0%, rgba(255,255,255,1) 100%);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  opacity: 0;
  box-sizing: border-box;
  top: 0;
  left: 50%;
  margin-left: -60px;
  cursor: pointer;
  z-index: 400;
}
.scene_dot{
    position: absolute;
    width: 2.428%;
    height: 2.83%;
    background: url(https://static.tildacdn.com/tild3765-6631-4263-a439-633433356434/map-dot.png) center center no-repeat;
    cursor: pointer;
}
.local-sign{
    width: 120px;
    height: 60px;
    padding: 8px 6px;
    background: rgb(206,216,244);
    background: linear-gradient(0deg, rgba(206,216,244,1) 0%, rgba(255,255,255,1) 100%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    opacity: 0;
    top: -30px;
    left: -40px;
    box-sizing: border-box;
  }
  .local-sign span{
     font-family: 'Roboto Condensed', sans-serif;
    color: #653c8e;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
  }
.bubble span{
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  color: #653c8e;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  margin: 5px 0;
}
a:link{
  text-decoration: none !important;
}
/* Hint */

.city{
  position: relative;
  width: 2400px;
  height: 2800px;
  overflow: hidden;
  background: url(http://kalimullin.su/assets/tilda_files/moscow_bg_.png) center center no-repeat;
  background-size: cover;
}

/* Кривая коптера */
.path_container{
  width: 2400px;
  height: 2800px;
}
/* Кривая коптера */


.logo_line{
  width: 1px;
  background: rgba(255,255,255,0.5);
  margin-right: 20px;
}
.scheme_title_container{
  width: 100%;
  display: flex;
  justify-content: left;
  z-index: 300;
  position: absolute;
  top: 120px;
}
.scheme_title{
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.roag_title_left, .roag_title_right{
  display: flex;
}
.roag_title_left{
  align-items: center;
}
.roag_title_right{
  align-items: stretch;
}
.title_main{
  margin-left: 50px;
  margin-right: 40px;
}
.main-title-01{
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  font-size: 30px;
  margin-bottom: 8px;
}
.main-title-02{
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 22px;
  line-height: 1.4;
  font-weight: 400;
}
.region_title{
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  color: #d0ae50;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 8px;
}
.region_title_2{
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  color: #d0ae50;
  font-size: 20px;
  margin-top: -5px;
}
.prog-link {
    display: inline-flex;
    padding: 12px 24px 14px 24px;
    border-radius: 100px;
    background: #d0ae50;
    color: #fff !important;
    z-index: 300;
    font-size: 20px;
    font-family: 'Roboto';
    margin-left: 130px;
    top: 180px;
    position: absolute;
}
.prog-link:hover {
    background: #e6c056;
}
.region_sign img{
width: 80px;
}

@media (max-width: 1600px){
  .city{
      width: 100%;
      height: auto;        
  }
  .path_container{
      width: 100%;
      height: 100%;
    }
    .svgcont{
      width: 100%;
      height: 100%;
    }
}


@media (max-width: 1400px){
    .title_main{
      margin-left: 20px;
      margin-right: 20px;
    }
    .main-title-01{
      font-size: 26px;
      margin-bottom: 8px;
    }
    .main-title-02{
      font-size: 20px;
      line-height: 1.4;
    }
    .region_title{
      font-size: 28px;
      font-weight: 800;
    }
    .region_title_2{
      font-size: 19px;
      margin-top: -8px;
    }
    .region_sign img{
      width: 70px;
      }
      .roag_sign{
        width: 70px;
      }
      .roag_sign img{
        width: 100%;
      }
      .prog-link {
    display: inline-flex;
    padding: 10px 20px;
    border-radius: 100px;
    background: #d0ae50;
    color: #fff !important;
    z-index: 300;
    font-size: 16px;
    font-family: 'Roboto';
    margin-left: 90px;
    top: 140px;
    position: absolute;
}
}


@media (max-width: 1200px){
    .title_main{
      margin-left: 10px;
      margin-right: 10px;
    }
    .main-title-01{
      font-size: 22px;
      margin-bottom: 8px;
    }
    .main-title-02{
      font-size: 16px;
      line-height: 1.4;
    }
    .region_title{
      font-size: 20px;
      font-weight: 800;
    }
    .region_title_2{
      font-size: 14px;
      margin-top: -6px;
    }
    .region_sign img{
      width: 50px;
      }
      .roag_sign{
        width: 60px;
      }
      .roag_sign img{
        width: 100%;
      }
      .prog-link {
    display: inline-flex;
    padding: 10px 20px;
    border-radius: 100px;
    background: #d0ae50;
    color: #fff !important;
    z-index: 300;
    font-size: 16px;
    font-family: 'Roboto';
    margin-left: 70px;
    top: 120px;
    position: absolute;
}
}